html,
body,
* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 50px;
}
.parent {
  font-size: 50px;
}
.px-size {
  font-size: 50px;
}
.rem-size {
  font-size: 5rem;
}
.em-size {
  font-size: 1em;
}
